body {
	margin: 0;
  padding: 0;

	font-family: "Roboto", sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 22px;

	color: #ffffff;
	background-color: #849d8f;
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
	height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
	position: absolute;

	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;

	white-space: nowrap;

	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.container {
	max-width: 1146px;
	padding: 0 27px;
	margin: 0 auto;
}

.page-index {
  margin-bottom: 30px;
}

.site-wrapper {
	background-color: #849d8f;
  background-image: url("../img/slider-one.png");
  background-repeat: no-repeat;
  background-position: top center;

  transition: background-image 0.5s ease, background-color 0.5s ease;
}

.main-navigation {
  display: flex;
  width: 1146px;
}

.main-header-logo {
  margin-right: 24px;
  padding-top: 9px;
}

.site-navigation,
.navigation-hover,
.user-navigation,
.basket-box {
  margin: 0;
  padding: 0;
  list-style: none;
}

.site-navigation {
  position: relative;
  display: flex;

  width: 400px;
  padding-top: 28px;
}

.site-navigation a {
  color: #ffffff;
  font-weight: 700;

  padding: 6px 14px;
}

.site-navigation span {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.site-navigation a:hover,
.site-navigation a:focus {
  color: #323232;
  border: none;
  background-color: #f7f6f3;
  border-radius: 15px;

  outline: none;
}

.user-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin-left: auto;
  min-width: 245px;
  padding-top: 22px;
}

.entrance-text,
.basket a,
.user-navigation a {
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  color: #ffffff;
}

.user-navigation {
  margin-right: 10px;
}

.navigation-hover {
  display: none;
}

.navigation-hover a {
  font-size: 14px;
  color: #323232;
}

.navigation-hover li:not(:first-child) a {
  font-weight: 400;
}

.main-navigation-current {
  padding: 6px 14px;

  background-color: #d07058;
  border-radius: 15px;
}

.main-navigation-current span {
  border: none;
}

.site-navigation .main-navigation-current:hover {
  background-color: #d07058;
  border-radius: 15px;

  color: #ffffff;
  cursor: default;
}

.site-navigation .main-navigation-current:focus {
  background-color: #d07058;
  border-radius: 15px;

  color: #ffffff;
  outline: 1px dotted #ffffff;
}

.user-navigation {
  position: relative;
}

.user-navigation a {
  display: flex;
  padding: 7px;
  align-items: center;

  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
}

.login-link a,
.basket-box a {
  position: relative;

  display: flex;
  align-items: center;

  padding: 6px 17px 5px 16px;

  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 15px;
}

.entrance-img,
.basket-img {
  padding-right: 7px;
}

.login-link a:hover,
.basket-box a:hover,
.login-link a:focus,
.basket-box a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
  background-color: #f8f7f4;

  outline: none;
}

.login-link a:hover .entrance-text,
.basket-box a:hover .basket-text,
.login-link a:focus .entrance-text,
.basket-box a:focus .basket-text {
  color: #323232;
}

.login-link a:hover path,
.basket-box a:hover path,
.login-link a:hover circle,
.basket-box a:hover circle,
.login-link a:focus path,
.basket-box a:focus path,
.login-link a:focus circle,
.basket-box a:focus circle,
.user-navigation a:hover path,
.user-navigation a:focus path {
  fill: #323232;
}

.user-navigation form {
  display: none;
}

.entrance form {
  display: none;
}

.main-info {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: flex-end;
  width: 1146px;
  margin: 0;
  margin-top: -6px;
  margin-left: auto;

  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
}

.main-info span {
  font-size: 22px;
  line-height: 26px;
}

/* ------- Slider -------- */

.slider {
  position: relative;

  padding-top: 275px;
  margin-bottom: 40px;

  text-align: center;
  color: #ffffff;
}

.slider-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.slide {
  display: none;
}

.site-wrapper::before,
.site-wrapper::after {
  content: "";

  visibility: hidden;
}

.site-wrapper::before {
  background-image: url("img/slider-item2.png");
}

.site-wrapper::after {
  background-image: url("img/slider-item3.png");
}

.slider-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.slide-title {
  width: 700px;
  margin: 0 auto;
  margin-bottom: 31px;

  font-size: 60px;
  line-height: 60px;
  font-weight: 800;
}

.button {
  display: inline-block;
  padding: 12px 44px;

  font-weight: 700;
  font-size: 31px;
  line-height: 41px;
  text-align: center;
  color: #ffffff;
  vertical-align: top;
  text-decoration: none;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);

  background: #f26843;
  background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  border-radius: 50px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  border: none;

  cursor: pointer;
}

.button:hover,
.button:focus {
  background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
  outline: none;
}

.button:active {
  background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

.slider-controls {
  position: absolute;
  bottom: 22px;
  left: 0;
  z-index: 200;

  font-size: 0;
}

.slider-controls label {
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-right: 8px;

  vertical-align: top;

  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

.slider-controls label:hover,
.slider-controls label:focus {
  outline: none;
  background-color: rgba(255, 255, 255, 0.4);
}

#product-1:checked ~ .site-wrapper {
  background-color: #849d8f;
  background-image: url("../img/slider-one.png");
}

#product-2:checked ~ .site-wrapper {
  background-color: #8996a6;
  background-image: url("../img/slider-two.png");
}

#product-3:checked ~ .site-wrapper {
  background-color: #9d8b84;
  background-image: url("../img/slider-three.png");
}

#product-1:checked ~ .site-wrapper #slide1,
#product-2:checked ~ .site-wrapper #slide2,
#product-3:checked ~ .site-wrapper #slide3 {
  display: block;
}

#product-1:checked ~ .site-wrapper label[for="product-1"],
#product-2:checked ~ .site-wrapper label[for="product-2"],
#product-3:checked ~ .site-wrapper label[for="product-3"] {
  background-color: #ffffff;
}

/* --------- Promo --------- */
.promo {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 1146px;
  margin-bottom: 40px;
}

.promo-raspberry,
.promo-chocolate {
	width: 560px;
	border-top: 1px solid transparent;
}

.promo-box {
	background-repeat: no-repeat;
	background-position: center;

	border-radius: 15px;

	padding: 15px 22px 24px 18px;
}

.promo-box-raspberry {
	background-color: #631c2b;
	background-image: url("../img/promo-raspberries.jpg");
}

.promo-box-chocolate {
	background-color: #432a1f;
	background-image: url("../img/promo-chocolate.jpg");
}

.promo-caption {
	font-weight: 700;
	font-size: 35px;
	line-height: 41px;

	margin: 0;
}

.promo-text {
  margin-top: 16px;
  margin-bottom: 45px;

	font-weight: 700;
	font-size: 18px;
	line-height: 22px;
}

.button-box {
  text-align: right;
}

.button-promo {
	font-size: 18px;
	line-height: 24px;

	padding: 10px 22px;
}

/* -------- Хиты мороженого --------- */

.hit-list {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: 1146px;
	margin: 0;
  margin-bottom: 38px;
	padding: 0;
	list-style: none;
}

.hit-item {
	width: 267px;
  margin-right: 26px;
}

.hit-item:nth-child(4n) {
  margin-right: 0;
}

.hit-item::before {
	content: "";
	position: absolute;
	background-image: url("../img/svg-gllacy/hit.svg");
	background-size: 61px 61px;
	width: 61px;
	height: 61px;
	background-repeat: no-repeat;
}

.hit-item img {
	border-radius: 50%;
}

.cream-price {
	position: relative;
	font-weight: 700;
	font-size: 45px;
	color: #ffffff;

	display: block;
	padding-bottom: 33px;
  margin-top: -52px;
}

.cream-price::before {
	content: "";
	position: absolute;
	left: 81px;
  bottom: 27px;
	background-image: url("../img/svg-gllacy/ruble.svg");
	background-size: 31px 42px;
	width: 31px;
	height: 42px;
	background-repeat: no-repeat;
}

.kilo {
	display: inline-block;
	padding-left: 24px;
	font-size: 30px;
}

.cream-description {
	color: #ffffff;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.cream-description:hover,
.cream-description:focus,
.cream-description:active {
  outline: none;
  color: #ffbc9e;
  border-bottom: 1px solid #ffbc9e;
}

/* -------- о нас --------- */

.about-us {
	background-image: url("../img/pattern.jpg");
  width: 1106px;
	border-radius: 15px;
	padding: 5px 20px 13px;
  margin-bottom: 40px;
}

.about-us-caption {
  margin-bottom: 11px;

	font-weight: 500;
	font-size: 24px;
	line-height: 30px;
	color: #323232;
}

.advantages {
	position: relative;

  display: flex;
}

.advantages-box {
  margin-right: 27px;
}

.advantages-item {
  width: 480px;
  margin: 0;
  padding: 11px 0 13px 57px;

	color: #323232;
}

.advantages-item::before {
	content: "";
	position: absolute;
	width: 49px;
	height: 49px;
}

.advantages-box-first .advantages-item:nth-child(1) {
	background-image: url("../img/svg-gllacy/ice-cream.svg");
	background-repeat: no-repeat;
	background-size: 49px 49px;
}

.advantages-box-first  .advantages-item:nth-child(2) {
	background-image: url("../img/svg-gllacy/eco.svg");
	background-repeat: no-repeat;
	background-size: 49px 49px;
}

.advantages-box-second .advantages-item:nth-child(1) {
	background-image: url("../img/svg-gllacy/cow.svg");
	background-repeat: no-repeat;
	background-size: 49px 49px;
}

.advantages-box-second .advantages-item:nth-child(2) {
	background-image: url("../img/svg-gllacy/thermometer.svg");
	background-repeat: no-repeat;
	background-size: 49px 49px;
}

/* ----------  Блог и рассылка ------------- */
.mailing {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 1146px;
  margin-bottom: 40px;
}

.blog {
	width: 560px;
	min-height: 220px;
	background-color: #ffffff;
	background-image: url("../img/strawberry-bg.jpg");
	background-repeat: no-repeat;
	color: #323232;
	border-radius: 15px
}

.blog-new {
  margin: 0;
	padding-left: 20px;
	padding-top: 22px;
  padding-bottom: 4px;
}

.blog-box {
	width: 282px;
	padding-left: 20px;
}

.blog-method {
  color: #323232;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  border-bottom: 2px solid #323232;
}

.blog-method:hover,
.blog-method:focus {
  outline: none;
  color: #e84d37;
  border-bottom: 2px solid #e84d37;
}

.mailing-email {
	width: 560px;
	min-height: 220px;

	background-image: repeating-linear-gradient(-40deg, #ffffff 0, #ffffff 6px, #92cdff 6px, #92cdff 12px, #ffffff 12px, #ffffff 17px, #fe9e90 17px, #fe9e90 22px);
	color: #5a5a5a;
	border-radius: 15px;
}

.mailing-box {
	width: 550px;
	min-height: 210px;
  display: inline-block;

	margin: 5px;

	background-color: #f8f7f4;
	border-radius: 15px;

	vertical-align: middle;
}

.mailing-info {
  padding: 13px 20px 21px;
}

.btn-email {
	padding: 10px 17px;

	font-size: 18px;
	line-height: 24px;
}

.mailing-form {
	padding-left: 20px;
}

.mailing-email input[name="email"] {
	box-sizing: border-box;
	border-radius: 5px;
	width: 368px;
	padding: 12px;
	margin-right: 10px;

	border: 1px solid #999999;
}

/* ---------- Карта ----------- */
.map-wrapper {
	margin: 0 auto;
}

.map-wrapper img {
  width: 100%;
  height: 430px;
}

.map-box-info {
  position: relative;
  width: 1146px;
}

.map-info {
	position: absolute;
	bottom: 68px;
	right: 27px;
	width: 302px;
	min-height: 305px;

	background-color: #fefefe;
	color: #323232;
	border-radius: 20px;
}

.map-info p {
	padding: 0 25px;

  font-size: 14px;
  line-height: 20px;
}

.map-info .address {
	padding-top: 14px;
}

.map-info .map-tel {
  padding-top: 5px;
  margin-bottom: 24px;
}

.map-info .address-correct {
  display: block;
	font-size: 18px;
	line-height: 24px;
	font-weight: 700;
}

.map-tel .address-correct {
  padding-top: 5px;
  margin-bottom: -19px;
}

.btn-map-box {
	text-align: center;
}

.btn-map {
	padding: 10px 28px;

	font-size: 18px;
	line-height: 24px;
}

/* -------- footer ------- */
.footer-wrapper {
  display: flex;
  width: 1146px;
  padding-bottom: 30px;

  justify-content: space-between;
}

.main-footer a {
  display: inline-block;
  color: #ffffff;
  font-size: 13px;
  line-height: 18px;
}

.social-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  width: 190px;

  list-style: none;
}

.social-item {
  margin-right: 10px;
}

.social-item:nth-child(4n) {
  margin-right: 0;
}

.social-item a {
  width: 33px;
  height: 33px;

  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.8;

  border: 3px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
}

.social-item:nth-child(1) a {
  background-image: url("../img/svg-gllacy/twitter.svg");
}

.social-item:nth-child(2) a {
  background-image: url("../img/svg-gllacy/instagram.svg");
}

.social-item:nth-child(3) a {
  background-image: url("../img/svg-gllacy/fb.svg");
}

.social-item:nth-child(4) a {
  background-image: url("../img/svg-gllacy/vk.svg");
}

.social-item a:hover,
.social-item a:focus {
  outline: none;
  opacity: 1;
  border: 3px solid rgba(255, 255, 255, 0.7);
}

.social-item a:active {
  opacity: 0.8;
}

.documents-list {
  display: flex;

	margin: 0;
	padding: 0;
  margin-top: -6px;
  width: 327px;

	list-style: none;
}

.documents-list a {
  position: relative;
  margin-left: 9px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.documents-list a:hover,
.documents-list a:focus,
.htmlacademy a:hover,
.htmlacademy a:focus {
  outline: none;
  color: #ffbc9e;
  border-bottom: 1px solid #ffbc9e;
}

.documents-active {
	font-weight: 700;
}

.documents-active::before {
  content: "";
  position: absolute;
  background-image: url("../img/svg-gllacy/heart.svg");
  width: 15px;
  height: 13px;
  top: 2px;
  left: -20px;
}

.htmlacademy {
  width: 188px;
  margin-top: -18px;

  text-align: left;
}

.htmlacademy-info {
  margin: 0;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: -0.3px;
}

.htmlacademy a {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

/* -------- breadcrumbs ---------- */
.breadcrumbs {
  display: flex;
  width: 225px;
	margin: 0;
  margin-top: -17px;
  margin-bottom: 3px;
	padding: 0;

	list-style: none;
}

.breadcrumbs li {
  position: relative;
  display: flex;
  margin-right: 8px;

  font-size: 14px;
  line-height: 16px;
}

.breadcrumbs a {
  color: #ffffff;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.breadcrumbs span {
  margin-left: 6px;
}

.page-title {
  margin: 0;
  margin-bottom: 27px;

	font-size: 35px;
	line-height: 41px;
}

/* -------- sorting ------------- */
.sorting {
  margin-bottom: 37px;
}

.sorting form {
  min-height: 135px;
}

.sorting fieldset {
	margin: 0;
  margin-right: 16px;
	padding: 0;

	border: none;
}

.sorting legend {
	font-size: 14px;
	line-height: 16px;
	font-weight: 500;
}

.sorting ul {
	margin: 0;
	padding: 0;

	list-style: none;
}

/* -------------- sorting-list --------------- */

.sorting-box {
  display: flex;
  width: 900px;

  margin-bottom: 16px;
}

.sorting-name,
.price-name,
.fatty,
.filler {
  padding-left: 16px;
  margin-bottom: 5px;
}

.sorting-list {
	position: relative;
	padding: 9px 30px 9px 15px;

	background-color: rgba(255, 255, 255, 0.2);
	color: #ffffff;
	font-weight: 500;
	background-image: url("../img/svg-gllacy/select-arrow.svg");
	background-repeat: no-repeat;
	background-size: 11px 10px;
	background-position: 168px 12px;
	border: 0;
	border-radius: 20px;
	-webkit-appearance: none;
    -moz-appearance: none;
  	-ms-appearance: none;
  	appearance: none;
}

.sorting-list option {
	color: #323232;
}

.sorting-list:hover {
  cursor: pointer;
}

.sorting-list:focus {
	color: #323232;
	background-image: url("../img/svg-gllacy/select-arrow-bg.svg");
}


/* ------------- range-controls ------------ */
.range-controls {
	position: relative;
	min-width: 176px;

	border-radius: 20px;
	padding: 16px 22px;

	background-color: rgba(255, 255, 255, 0.2);
}

.range-controls .scale {
	height: 4px;

	background: #d1dad3;
}

.range-controls .bar {
	width: 70%;
	height: 4px;

	background: #f8f7f4;
}

.range-controls .toggle {
	position: absolute;
	top: 8px;
	left: 0;

	width: 4px;
	height: 4px;
	padding: 0;

	border: 8px solid #ffffff;
	background-color: #ababab;
	border-radius: 50%;
	cursor: pointer;
}

.range-controls .toggle-min {
  left: 36px;
}

.range-controls .toggle-max {
	left: 134px;
}

.price-controls {
	font-size: 0;
}

.toggle-min:hover,
.toggle-max:hover {
	transform: scale(1.2);
}

/* -------------- fatty -------------- */
.fatty-percent .fatty-list {
  display: flex;
  flex-wrap: wrap;

  padding: 7px 17px 7px 14px;

  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.2);
}

.fatty-radio label,
.filter-option label {
	position: relative;
	padding-left: 32px;
	cursor: pointer;

	font-size: 16px;
	line-height: 18px;
	font-weight: 500;
}

.fatty-radio label {
  margin-right: 17px;
}

.filter-option label {
  margin-right: 21px;
}

.fatty-radio:nth-child(4n) label,
.filter-option:nth-child(5n) label {
  margin-right: 0;
}

.sorting-filler .filter-item {
  display: flex;
  flex-wrap: wrap;

  padding: 8px 18px 8px 15px;

  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.2);
}

.filter-option input[type="checkbox"] + label::before,
.fatty-radio input[type="radio"] + label::before {
	content: "";
	position: absolute;
	top: -1px;
	left: 0px;

	width: 23px;
	height: 23px;

  background-repeat: no-repeat;
  background-size: 23px 23px;
  opacity: 0.8;
}

.filter-option input[type="checkbox"]:checked ~ label::before {
  content: "";
  position: absolute;
  width: 23px;
  height: 23px;
  background: url("../img/svg-gllacy/checkbox-on.svg") 0 0 no-repeat;
  background-size: 23px 23px;
}

.fatty-radio input[type="radio"] + label::before {
  background-image: url("../img/svg-gllacy/radio-off.svg");
}

.filter-option input[type="checkbox"] + label::before {
	background-image: url("../img/svg-gllacy/checkbox-off.svg");
}

.fatty-radio input[type="radio"]:checked ~ label::before {
  background: url("../img/svg-gllacy/radio-on.svg") 0 0 no-repeat;
  background-size: 23px 23px;
}

.filter-option input[type="checkbox"] + label:hover::before,
.filter-option input[type="checkbox"]:focus + label::before,
.fatty-radio input[type="radio"] + label:hover::before,
.fatty-radio input[type="radio"]:focus + label::before {
	opacity: 1;
}

.filter-percent:disabled + label,
.filter-filler:disabled + label {
  opacity: 0.4;
}

.filter-box {
  margin-top: 21px;
}

.filter-button {
	display: inline-block;
	padding: 8px 27px;

	font-size: 16px;
	line-height: 18px;
	font-weight: 500;
	text-align: center;
	color: #ffffff;
	vertical-align: top;
	background: rgba(255, 255, 255, 0.19);
	border: 2px solid #ffffff;
	border-radius: 50px;
	cursor: pointer;

	outline: none;
}

.filter-button:hover,
.filter-button:focus {
	border-color: transparent;
	background: #fbfcfb;
	color: #323232;
  outline: none;
}

.filter-button:active {
	padding: 11px 29px;
	border: none;
	box-shadow: inset 0px 2px 1px 0px #696969;
}

/* -------- catalog --------------- */
.cream-list {
  display: flex;
  flex-wrap: wrap;
	margin: 0;
  margin-bottom: 40px;
	padding: 0;

	list-style: none;
}

.cream-item {
  margin-right: 26px;
  padding-bottom: 39px;
	width: 267px;
}

.cream-item:nth-child(4n) {
  margin-right: 0;
}

.cream-item img {
	border-radius: 50%;
}

.catalog-btn {
	padding: 10px 18px;

	font-size: 18px;
	line-height: 24px;
}

.cream-wrapper {
  width: 256px;

	text-align: center;
}

.cream-button {
  display: none;
}

/*------ pagination-list ------------ */
.pagination-list {
  display: flex;
  flex-wrap: wrap;
	margin: 0;
  margin-bottom: 50px;
  margin-left: auto;
	padding: 0;
	width: 190px;

	list-style: none;
	line-height: 18px;
	font-weight: 500;
}

.pagination-item {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.pagination-item a {
  margin-right: 15px;

  color: #ffffff;
}

.pagination-list .forward {
  margin-right: 0;
}

.backward,
.forward {
	background-image: url("../img/svg-gllacy/icon-right-small.svg");
	background-repeat: no-repeat;
	width: 8px;
	height: 12px;
}

.backward {
	transform: rotate(180deg);
}

.switch-current {
  opacity: 0.2;
}

.number-link:hover,
.number-link:focus {
  width: 27px;
  height: 27px;
  line-height: 27px;

  text-align: center;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
}

.number .pagination-current {
	width: 27px;
	height: 27px;
  line-height: 27px;

	background-color: #ffffff;
	color: #323232;
	border-radius: 50%;
	text-align: center;
}
